body{
 background: linear-gradient(
      to right, 
      #fffdc2,
      #fffdc2 15%,
      #d7f0a2 15%,
      #d7f0a2 85%,
      #fffdc2 85%
    );
    padding: 0 !important;
    background-size: cover;
    font-family: serif;
}
.form{
  width: 85%;
  max-width: 600px;
  background: #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 30px 40px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
 
  font-family: serif;
}
.form h1{
  font-family: serif;
  font-size: 35px;
  margin-top: 0;
  font-weight: 200;
}
.txtb{
  font-family: serif;
  border:1px solid gray;
  margin: 8px 0;
  padding: 12px 18px;
  border-radius: 8px;
}
.txtb label{
  font-family: serif;
  display: block;
  text-align: left;
  color: #333;
  text-transform: uppercase;
  font-size: 14px;
}
.txtb input,.txtb textarea{
  font-family: serif;
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 18px;
  margin-top: 6px;
}
.btn{
  font-family: serif;
  font-size: 25px;
  display: inline-block;
  background: #4169E1;
  padding: 14px 0;
  color: white;
  cursor: pointer;
  margin-top: 8px;
  width: 100%;
  border-radius: 10px;
}
